/* CSS Document */

/* global */

html {
	--myFontSize: 25px;
}

body {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

.responsive {
	width: 100%;
	height: auto;
}

/* Header */

.bg-custom {
	background-color: lightsteelblue;
}

.nav-item-custom {
	margin: 10px;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.navbar-brand {
	margin-right: 100px;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
}

.container {
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

.main-image {
	width: 100vw;
}

#index-main-text {
	position: absolute;
	white-space: nowrap;
	top: 50%;
	left: 50%;
	color: white;
	font-size: 5px;
	transform: translate(-50%, -50%);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* main */

.animation {
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#text-animation {
	color: white;
	font-size: var(--myFontSize);
	padding: 50px;
}

#text-animation2 {
	color: white;
	font-size: 15px;
	animation-name: text;
	animation-duration: 4s;
}

#text-animation3 {
	color: white;
	font-size: 15px;
	transition: font-size 4s;
}

#text-animation3:hover {
	font-size: 50px;
}

@keyframes text {
	from {font-size: 15px;}
	to {font-size: 50px;}
}
.paper-plane {
	position: absolute;
	height: 75px;
	bottom: -100vh;
	left: 0;
}

/* footer */

footer {
	background-color: lightslategrey;
	padding-top: 100px;
	text-align: center;
	font-size: 15px;
	color : white;
}